* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
}

h1 {
    font-size: 4rem;
    font-weight: 700;
    color: #3f3f3f;
    background-color: #ffffff;
    text-align: center;
    border-radius: 5px;
    box-shadow: inset 0px -2px 0px 0 rgba(5, 164, 113, 0.8);
}
h1::after {
    content: '';
    display: block;
    width: 75%;
    height: 8px;
    background-color: #38d5b8;
    justify-content: center;
    margin: 0 auto;
    border-radius: 2px;
}
.addtask-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 2rem auto;
    width: 50%;
}
.task-input {
    font-size: 1.6rem;
    font-weight: 400;
    color: #3f3f3f;
    background-color: white;
    border-radius: 5px;
    border: none;
    border-bottom: 2px solid #38d5b8;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 1rem auto;
}

.task-btn {
    font-size: 1rem;
    font-weight: 400;
    color: #3f3f3f;
    background-color: #38d5b8;
    border-radius: 5px;
    border: none;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    margin: 1rem auto 1rem 0.5rem;
    cursor: pointer;
}